body{
	background-color:#152F3E;
	font-family:verdana;
}
h1{
	color:white;
	text-decoration:underline;
	font-size:2em;
}
h2{
	color:#EEEEEE;
	font-size:1.7em;
}
h3{
	color:#DDDDDD;
	font-size:1.4em;
	margin:0px;
}
h4{
	color:#CCCCCC;
	font-size:1.1em;
}
h5{
	color:#BBBBBB;
	font-size:.9em;
	margin:0px;
}
h6{
	color:white;
	font-weight:bold;
	font-style:italic;
}
p{
	color:white;
	font-weight:bold;
	margin:0px;
}
ul{
	list-style-type:none;
	padding:1em;
}
ul  > li{
	background-color:#3C85B1;
	opacity:.9;
	width:350px;
	padding:0em 1em 0em 1em;
	border:6px solid #E4E4E4;
	margin:20px 0px 20px 0px;
	color:white;
	font-weight:bold;
}
a{
	color:rgb(225,109,4);
	font-weight:bold;
}
a:Hover
{
	color:152F3E;
}
.div_cube_containers
{
	text-align:center;
	vertical-align:middle;
}
.icon
{
			width:30px;
			margin:0px 5px 5px 5px;
			float:left;
			background-color:#152F3E;
}
.blog_image{
width:200px;
text-align:middle;
}
