<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{title}} &mdash; blueSquare</title>

    <!-- Framework CSS -->
	<link rel="stylesheet" href="/css/style.css" type="text/css">
    <!--[if lt IE 8]><link rel="stylesheet" href="/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<script src="/jscript/jquery.js"></script>
	<script src="/jscript/jquery-ui.min.js"></script>
	<!-- <script src="/jscript/intro.js"></script> -->
	<script src="/jscript/easing.js"></script>
	<script src="/jscript/blueFriend.js"></script>

  </head>
  <body>
	    {{Body}}
  </body>
</html>
