:Base
<div class="span-14 prepend-1 append-1">
	{{Body}}
</div>
<div class="span-7">
<div class="box">
	<h3>Sidebar</h3>
	{{SecondaryNavigation}}
	<h3>DropPages links</h3>
	<ul>
		<li><a href="http://droppages.com">DropPages</a></li>
		<li><a href="http://twitter.com/davemcdermid">Dave McDermid</a></li>
	</ul>
	<h3>Quick Links</h3>
	<ul>
		<li><a href="www.google.com/reader">Google Reader</a></li>
		<li><a href="www.mangastream.com">MangaStream</a></li>
	</ul>
</div>
</div>
<div class="span-1 last"></div>

